body {
  background-color: #282c34;
}

div.root {
  display: flex;
  align-items: center;
}

.App-header {
  display: flex;
  flex-flow: column;
  align-self: center;
  align-items: center;
  color: white;
}

div.container {
  color: white;
}

button {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

h1 {
  display: flex;
  align-self: center;
  font-size: 4rem;
  margin: unset;
}

.App-link {
  color: #61dafb;
}

form {
  padding: unset;
}

.row {
  display: flex;
}

button.item {
  padding: unset;
  color: aliceblue;
  border: unset;
  flex-basis: 20%;
}

.MuiButton-label {
  font-size: medium;
  border: black solid;
  padding: 1.5rem;
}
