.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  color: white;
}

.container {
  display: grid;
}

.buttonhome {
  align-content: center;
  display: grid;
  height: fit-content;
  align-items: center;
}

button {
  min-width: 25px;
  min-height: 25px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.App-link {
  color: #61dafb;
}

form {
  /*padding: unset;*/
  /*width: content-box;*/
}

.row {
  /*display: grid;*/
  min-width: 40px;
  min-height: 30px;
  flex-direction: row;
  text-align: center;
}

.item {
  font-size: medium;
  border: black solid;
  border-bottom: unset;
  padding: 1rem;
}
